.haya--typeahead {
  position: relative;

  .haya--typeahead--options-container {
    border: 1px solid black;
    background: #fff;
  }

  .haya--typeahead--options-container {
    position: absolute;
    z-index: 9999;
    width: 100%;
  }

  .haya--typeahead-option-link {
    display: block;

    &[data-focus="true"] {
      background: blue;
    }
  }
}
